.hero {
    width: 100%;
    min-height: calc(90vh - var(--header-height));
    padding-block: 0;
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 30em) {
    .hero {
        min-height: calc(80vh - var(--header-height));
    }
}

.hero .container {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--neutral-gap);
    padding-block: var(--third-padding);
}